.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 24px;
}

.character{
  margin: 20px;
}

.back{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  line-height: 1.5;
  background-color: #ED1D24;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 12px;
}